.container {
  font-family: var(--body-font-family);
  font-size: 18px;
}

.title {
  background-color: var(--purple);
  color: var(--white);
  padding: 5px;
}

.date {
  font-size: 16px;
  color: var(--grey-3);
}