.button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  padding: 0 0 15px 0;
  cursor: pointer;
  color: var(--grey-3);
  width: 100%;
  outline: none;
}

.arrow {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border-right: 3px solid var(--grey-3);
  border-bottom: 3px solid var(--grey-3);
  margin: 0 auto;
}

.arrowDown {
  transform: rotate(45deg);
}

.arrowUp {
  transform: rotate(-135deg);
}
