:root {
  --grey-1: #243342;
  --grey-2: #536273;
  --grey-3: #6c7888;
  --grey-4: #f8f8f8;
  --grey-5: #e6e6e6;
  --white: #ffffff;
  --pink: #d03a84;
  --purple: #6951a1;
  --orange-1: #f05672;
  --orange-2: #f47a61;

  --main-font-color: var(--grey-1);

  --body-font-family: "Inconsolata", monospace;
  --title-font-family: "Poppins", sans-serif;
}
