.container {
  overflow-x: hidden;
  margin: auto;
}

@media (max-width: 767px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/*
 * Print
 */

@media print {
  footer,
  hr,
  nav {
    display: none;
  }
}
