.container {
  /* overflow-x: hidden; */
  margin: auto;
}

@media only screen and (max-width: 787px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media only screen and (min-width: 788px) {
  .container {
    max-width: 768px;
  }
}

/*
 * Print
 */

@media print {
  hr {
    display: none;
  }
}
