.container {  
  display: flex;
  justify-content: space-between;
  align-items: center;  
  font-family: var(--blog-font-family);
}

.textLinks {
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: row; 
  }
}

.list {
  padding-inline-start: 0;
  text-align: center;
}

.navElement {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
}

.iconLinks .navElement a:hover {
  background-color: transparent;
}

.navElement:last-child {
  padding-right: 0;
}
