.container {
  display: flex;
  margin: 0;
}

.container nav {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    margin: 20px 0;
  }
}

.author {
  font-size: 30px;
  color: var(--grey-1);
}
