.container {
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul {
  padding-inline-start: 0;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 0;
  }
}

.author {
  font-size: 30px;
  color: var(--grey-1);
}
