.footer {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #999999;
  margin: 40px 0;
  border-top: 1px solid #aaaaaa;
  padding-top: 20px;
}

.social {
  text-align: center;
}

@media (min-width: 768px) {
  .social {
    text-align: right;
  }
}
