.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

nav ul {
  padding-inline-start: 0;
}

@media (min-width: 425px) {
  .container {
    margin: 20px 0;
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.author {
  font-size: 30px;
  color: #272727;
}
