body {
  font-family: "Inconsolata", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  max-width: 800px;
  margin: auto;
  line-height: 24px;
  color: #292f33;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", monospace;
  font-weight: 400;
}

@media (max-width: 425px) {
  h1 {
    font-size: 24px;
  }
}

h1 {
  line-height: 45px;
}

a {
  color: #d03a84;
}

.container {
  overflow-x: hidden;
}

@media (max-width: 800px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s ease all;
    font-size: 16px;
    line-height: 20px;
  }
}

/*
 * Print
 */

@media print {
  footer,
  hr,
  nav {
    display: none;
  }
}
