.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content p {
  color: var(--grey-2);
}

/* .img {
  border-radius: 50%;
} */

/* .getCv {
  margin-top: 15px;
} */

@media print {
  .getCv {
    display: none;
  }

  h1 {
    font-size: 20px;
  }
}
