.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;  
}

.list {
  padding-inline-start: 0;
  text-align: center;
}

.navElement {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
}

.navElement:last-child {
  padding-right: 0;
}
