.container {
  margin-bottom: 10px;
}

.postTitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.date {  
  color: var(--grey-3);
}

.postDescription {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;  
  margin-top: 5px;
}

small {
  font-size: 14px;
}