/* body {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--main-font-color);
} */

/* h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font-family);
  font-weight: 400;
  line-height: 2rem;
}

@media (max-width: 425px) {
  h1 {
    font-size: 24px;
  }
}

h1 {
  line-height: 45px;
} */

a {
  color: var(--pink);
}

a:hover {
  color: #ffffff;
  background-color: var(--purple);
}

a.anchor {
  fill: var(--pink);
  vertical-align: middle;
}

a.anchor > svg {
  width: 1em;
  height: 1em;
}

a.anchor:hover {
  background-color: transparent;
}

blockquote {
  padding: 0 1em;
  color: var(--grey-3);
  border-left: 0.25em solid var(--grey-5);
  margin: 0;
}

hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--grey-5);
  border: 0;
}

