:root {
  --pink: #d03a84;
  --purple: #6951a1;
  --orange-1: #f05672;
  --orange-2: #f47a61;

  --main-font-color: var(--grey-1);

  --monospace-font-family: "Inconsolata", monospace;
  --body-font-family: "Inconsolata", monospace;
  --title-font-family: "Poppins", sans-serif;
}
